{% extends 'layout.html' %}

{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>

</div>	
{% endfor %}


<div class="card card-body">
	
	<div class="card card-body">
		<form name="criterio" id="criterio" action="/admin/visualizacion" method="POST">
			
				<span class="input-group-addon">Seleccione Criterio de búsqueda</span>
				
			<fieldset>
				<select class="form-control" name="criterio">
					
					<!--<option class="list-group-item list-group-item-action" value="sexo" name="sexo" data-toggle="list">Sexo</option>
					<option class="list-group-item list-group-item-action" value="nombre" name="nombre" data-toggle="list">Nombre</option>
					<option class="list-group-item list-group-item-action" value="correo" name="correo" data-toggle="list">Correo</option>
					<option class="list-group-item list-group-item-action" value="direccion" name="direccion" data-toggle="list">Dirección</option> -->
					<option class="list-group-item list-group-item-action" value="todos" name="todos" data-toggle="list">Todos</option>
				</select>
				
			</fieldset>
			
			<input type="text" name="data" placeholder="Nombre,sexo,correo..." class="form-control">
		
			
			<button type="submit" class="btn btn-success">buscar</button>
			
		</form>	
	</div>

</div>

<div class="card card-body">

<table class="table">
	<thead>
		<tr>
			<td> Rfid </td>
			<td> Usuario</td>
			<td> Sexo</td>
			<td> Edad </td>
			<td> Dirección </td>
			<td> Villa/zona </td>
			<td> Teléfono </td>
			<td> Email </td>
			<td> Nombre Mascota </td>
			<td> Edad Mascota</td>
			<td> Sexo Mascota </td>
			<td> Estado Reproductivo </td>
			<td> Raza Mascota </td>
			<td> Vacuna Séxtuple/Octuple </td>
			<td> Vacuna Antirrábica </td>
			<td> Comentarios </td>
			<td> Acción </td>
		
		</tr>	
	</thead>
	<tbody>
		{% for cons in consulta_admin %}
		
		<tr>
			<td>{{ cons.1 }}</td>
			<td>{{ cons.2 }}</td>
			<td>{{ cons.3 }}</td>
			<td>{{ cons.4 }}</td>
			<td>{{ cons.5 }}</td>
			<td>{{ cons.6 }}</td>
			<td>{{ cons.7 }}</td>
			<td>{{ cons.8 }}</td>
			<td>{{ cons.9 }}</td>
			<td>{{ cons.10 }}</td>
			<td>{{ cons.11 }}</td>
			<td>{{ cons.12 }}</td>
			<td>{{ cons.13 }}</td>
			<td>{{ cons.14 }}</td>
			<td>{{ cons.15 }}</td>
			<td>{{ cons.16 }}</td>
			<td>
			<a href="/admin/visualizacion/editar/{{ cons.0 }}" class="btn btn-warning"> Editar</a>
			<a href="/admin/visualizacion/eliminar/{{ cons.0 }}" class="btn btn-danger"> Eliminar</a>
			</td>	
		</tr>
		{% endfor %}
	
	</tbody>

</table>
<a href="/" class="btn btn-primary">Volver</a>
<a href="/admin/visualizacion/respaldar" class="btn btn-success"> Respaldar en USB</a>
</div>

{% endblock %}
