{% extends 'layout.html' %}

{% block body %}

<div class="card card-body">

<table class="table">
	<thead>
		<tr>
			
			<td> Usuario</td>
			<td> Correo</td>
			<td> Dirección </td>
			<td> Teléfono </td>
			<td> Mascota </td>
			<td> V. Séxtuple/Octuple </td>
			<td> V. Antirrábica </td>
			<td> Beneficios </td>
		
		</tr>	
	</thead>
	<tbody>
		{% for res in resultado %}
		
		<tr>
			
			<td>{{ res.2 }}</td>
			<td>{{ res.8 }}</td>
			<td>{{ res.5 }}</td>
			<td>{{ res.7 }}</td>
			<td>{{ res.9 }}</td>
			<td>{{ res.14 }}</td>
			<td>{{ res.15 }}</td>
			<td>{{ res.16 }}</td>
			
				
		</tr>
		{% endfor %}
	
	</tbody>

</table>
</div>

<div class="card card-body"> 
	<h2>El usuario posee el siguiente beneficio</h2>
	</div>
<div class="card card-body"> 
	
	{% for res in resultado %}
	
	<p>{{ res.16 }}</p> 
	<a href="/canjearbeneficios/{{ res.0 }}" class="btn btn-success" >Canjear Beneficio</a>	

	{% endfor %}
	<a href="/" class="btn btn-primary">Volver</a>
	</div>



{% endblock %}
