{% extends 'layout.html' %}

{% block body %}


<div class="col-md-6">				
<div class="card card-body">
			<h5 class="card-title">Identificación RFID</h5>
			<p class="card-text">{{ data }}</p>
</div>	
</div>	
<div class="card card-body">
<div class="row">
	<div class="card card-body">
		<form name="creditos" id="creditos" action="/cargarcreditos" method="POST">
			
				<span class="input-group-addon">Seleccione carga</span>
				
			<fieldset>
				<select class="form-control" name="comentarios">
					
					<option class="list-group-item list-group-item-action" value="" selected disabled hidden>Beneficio/Comentarios</option>
					<option class="list-group-item list-group-item-action" value="sextuple-octuple" name="sextuple-octuple" data-toggle="list">Vacuna Séxtuple/Óctuple</option>
					<option class="list-group-item list-group-item-action" value="vacuna-antirrabica" name="vacuna-antirrabica" data-toggle="list">Vacuna antirrábica</option>
					<option class="list-group-item list-group-item-action" value="desparacitacion" name="desparacitacion" data-toggle="list">Desparacitación</option>
					<option class="list-group-item list-group-item-action" value="sin-beneficio" name="sin-beneficio" data-toggle="list">Sin Beneficio</option>
				</select>
				
			</fieldset>
			
		<button type="submit" class="btn btn-success">Guardar</button>	
		</form>	
			<a href="/" class="btn btn-primary">Volver</a>
	</div>
	
	
</div>
</div>		

<!--<div class="col-md-6">
		<div class="card card-body">
			<h5 class="card-title">Ingresar datos del cliente</h5>
			<form id="formingreso" action="/cargar" method="POST">
				
				<fieldset>
					
					<input type="text" name="nombre" placeholder="nombre" class="form-control">
					<input type="text" name="direccion" placeholder="direccion" class="form-control">
					<input type="text" name="telefono" placeholder="telefono" class="form-control">
					<input type="text" name="creditos" placeholder="creditos" class="form-control">


				</fieldset>
			
		<button type="submit" class="btn btn-primary">Guardar</button>
		</form>
		</div>
</div>-->



{% endblock %}
