{% extends 'layout.html' %}

{% block body %}

<div class="card card-body">
<div class="card card-body">
<table class="table">
	<thead>
		<tr>
			<!-- <td> Rfid </td>-->
			<td> Usuario</td>
			<td> Sexo</td>
			<td> Edad </td>
			<td> Dirección </td>
			<td> Villa/zona </td>
			<td> Teléfono </td>
			<td> Email </td>
			<td> Nombre Mascota </td>
			<td> Edad Mascota</td>
			<td> Sexo Mascota </td>
			<td> Estado Reproductivo </td>
			<td> Raza Mascota </td>
			<td> Vacuna Séxtuple/Octuple </td>
			<td> Vacuna Antirrábica </td>
			<td> Comentarios </td>
			
		
		</tr>	
	</thead>
	<tbody>
		{% for cons in consulta %}
		
		<tr>
			<!--<td>{{ cons.1 }}</td>-->
			<td>{{ cons.2 }}</td>
			<td>{{ cons.3 }}</td>
			<td>{{ cons.4 }}</td>
			<td>{{ cons.5 }}</td>
			<td>{{ cons.6 }}</td>
			<td>{{ cons.7 }}</td>
			<td>{{ cons.8 }}</td>
			<td>{{ cons.9 }}</td>
			<td>{{ cons.10 }}</td>
			<td>{{ cons.11 }}</td>
			<td>{{ cons.12 }}</td>
			<td>{{ cons.13 }}</td>
			<td>{{ cons.14 }}</td>	
			<td>{{ cons.15 }}</td>
			<td>{{ cons.16 }}</td>
		</tr>
		{% endfor %}
	
	</tbody>

</table>
</div>
<a href="/" class="btn btn-primary">Volver</a>
</div>

{% endblock %}
