{% extends 'layout.html' %}

{% block body %}

<div align="center" >
		<div class="card card-body">
			<h5 class="card-title">Ingresar datos del cliente</h5>
			<form id="formingreso" action="/admin/visualizacion/actualizar/{{ usuario.0 }}" method="POST">
				
				<fieldset>
					<!--
					<input type="text" name="nombre" placeholder="Nombre" class="form-control" value="{{usuario.2}}">
				
					<input type="text" name="correo" placeholder="Correo" class="form-control" value="{{usuario.4}}">
					<input type="text" name="edad" placeholder="Edad" class="form-control" value="{{usuario.5}}">
					<input type="text" name="direccion" placeholder="Dirección" class="form-control" value="{{usuario.6}}">
					<input type="text" name="telefono" placeholder="Teléfono (+56)" class="form-control" value="{{usuario.7}}">					
					<input type="text" name="creditos" placeholder="Créditos" class="form-control" value="{{usuario.8}}">
					
					<select class="form-control" name="sexo" id="id_sexo" placeholder="sexo" value="{{usuario.3}}">
					<option class="list-group-item list-group-item-action" value="" selected disabled hidden>Sexo</option>
					<option class="list-group-item list-group-item-action" value="hombre" name="hombre" data-toggle="list">Hombre</option>
					<option class="list-group-item list-group-item-action" value="mujer" name="mujer" data-toggle="list">Mujer</option>
					<option class="list-group-item list-group-item-action" value="no-binario" name="no-binario" data-toggle="list">No binario</option>
					 
					</select>
					-->
					
					<input type="text" name="nombre_usuario" placeholder="Nombre" class="form-control" value="{{usuario.2}}">
					
					<select class="form-control" name="sexo_usuario" id="id_sexo" placeholder="sexo" value="{{usuario.3}}">
					<option class="list-group-item list-group-item-action" value="" selected disabled hidden>Sexo</option>
					<option class="list-group-item list-group-item-action" value="hombre" name="hombre" data-toggle="list">Hombre</option>
					<option class="list-group-item list-group-item-action" value="mujer" name="mujer" data-toggle="list">Mujer</option>
					<option class="list-group-item list-group-item-action" value="no-binario" name="no-binario" data-toggle="list">No binario</option>
					</select>
					
					<input type="text" name="edad_usuario" placeholder="Edad" class="form-control" value="{{usuario.4}}">
					<input type="text" name="direccion" placeholder="Dirección" class="form-control" value="{{usuario.5}}">
					<input type="text" name="villa_zona" placeholder="Villa/zona" class="form-control" value="{{usuario.6}}">
					<input type="text" name="telefono" placeholder="Teléfono (+569)" class="form-control" value="{{usuario.7}}">
					<input type="text" name="email" placeholder="correo@ejemplo.com" class="form-control" value="{{usuario.8}}">

					<input type="text" name="nombre_mascota" placeholder="Nombre de mascota" class="form-control" value="{{usuario.9}}">
					<input type="text" name="edad_mascota" placeholder="Edad de mascota" class="form-control" value="{{usuario.10}}">
					
					<select class="form-control" name="sexo_mascota" id="id_sexo_mascota" placeholder="sexo mascota">
					<option class="list-group-item list-group-item-action" value="" selected disabled hidden>Sexo Mascota</option>
					<option class="list-group-item list-group-item-action" value="macho" name="macho" data-toggle="list">Macho</option>
					<option class="list-group-item list-group-item-action" value="hembra" name="hembra" data-toggle="list">Hembra</option>
					</select>
					
					<select class="form-control" name="estado_reproductivo" id="id_estado_reproductivo" placeholder="Estado reproductivo">
					<option class="list-group-item list-group-item-action" value="" selected disabled hidden>Estado reproductivo</option>
					<option class="list-group-item list-group-item-action" value="esterilizado" name="esterilizado" data-toggle="list">Esterilizado</option>
					<option class="list-group-item list-group-item-action" value="no-esterilizado" name="no-esterilizado" data-toggle="list">No esterilizado</option>
					</select>
					
					<input type="text" name="raza_mascota" placeholder="Raza de mascota" class="form-control" value="{{usuario.13}}">
					<input type="text" name="vacuna_sextuple" placeholder="Vacuna Séxtuple/Óctuple" class="form-control" value="{{usuario.14}}">
					<input type="text" name="vacuna_antirrabica" placeholder="Vacuna Antirrábica" class="form-control" value="{{usuario.15}}">
                    <select class="form-control" name="comentarios" id="id_comentarios" placeholder="comentarios" value="{{usuario.16 }}">
					<option class="list-group-item list-group-item-action" value="" selected disabled hidden>Beneficio/Comentarios</option>
					<option class="list-group-item list-group-item-action" value="sextuple-octuple" name="sextuple-octuple" data-toggle="list">Vacuna Séxtuple/Óctuple</option>
					<option class="list-group-item list-group-item-action" value="vacuna-antirrabica" name="vacuna-antirrabica" data-toggle="list">Vacuna antirrábica</option>
					<option class="list-group-item list-group-item-action" value="desparacitacion-interna" name="desparacitacion-interna" data-toggle="list">Desparacitación interna</option>
					<option class="list-group-item list-group-item-action" value="desparacitacion-externa" name="desparacitacion-externa" data-toggle="list">Desparacitación externa</option>
					<option class="list-group-item list-group-item-action" value="atencion-veterinaria" name="atencion-veterinaria" data-toggle="list">Atención Veterinaria</option>
					<option class="list-group-item list-group-item-action" value="sin-beneficio" name="sin-beneficio" data-toggle="list">Sin Beneficio</option>
					</select>

				</fieldset>
				<button type="submit" class="btn btn-primary">Guardar</button>
				
		
		</form>
		</div>
</div>


{% endblock %}
