

{% extends 'layout.html' %}


{% block body %}
{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>

</div>	
{% endfor %}

<div class="card-deck">

		
			<div class="card card-body">
				<h5 class="card-title">Ingresar</h5>
				<p class="card-text">Dar de alta a un nuevo cliente</p>
				<a href="/ingreso" class="btn btn-primary">Ingresar</a>
			</div>
			
			<div class="card card-body">
				<h5 class="card-title">Consultar</h5>
				<p class="card-text">Consulta tu estado</p>
				<a href="/consultar" class="btn btn-primary">Consultar</a>
			</div>
		
	
	

</div>

<div class="card-deck">

		
			<div class="card card-body">
				<h5 class="card-title">Beneficios</h5>
				<p class="card-text">Consulta y canjea tus beneficios</p>
				<a href="/beneficios" class="btn btn-primary">Beneficios</a>
			</div>
			
			<div class="card card-body">
				<h5 class="card-title">Cargar</h5>
				<p class="card-text">Carga un beneficio</p>
				<a href="/cargar" class="btn btn-primary">Cargar</a>
			</div>
		
	
	

</div>
{% endblock %}
