

{% extends 'layout.html' %}


{% block body %}

<div class="card-deck">

		
			<div class="card card-body" style="height: 300px;">
				<h5 class="card-title">Usuarios totales</h5>
				<p class="card-indicators">{{ q_usuarios }} personas</p>
			</div>
			
			<!-- <div class="card card-body" style="height: 300px;">
				<h5 class="card-title">Créditos totales disponibles</h5>
				<p class="card-indicators">{{ t_creditos }} créditos</p>
			</div>
		-->
	
<a href="/" class="btn btn-primary">Volver</a>	

</div>

{% endblock %}
