	<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
	<style> 
		navbar {font-family:Verdana; !important;}
		
		body{
			margin: 0;
			
			padding:0;
			
		}
		
		
		.btn-primary {
			
			margin-top:5px;
			padding:30px 10px;		
			font-size:20px;
			height: 80px;
			width: 100%;
			display: inline-block;
			position: relative;
			vertical-align:middle;
		}
			
		.btn-success {
			margin-top:5px;
			padding:30px 10px;		
			font-size:20px;
			height: 80px;
			width: 100%;
			display: inline-block;
			position: relative;
			vertical-align:middle;
		}	
		
		
		
		.card-title {
			font-size:20px;
		}
		.card-indicators {
			padding:60px 10px 10px;
			font-size:25px;
			text-align:center;
		}
		p{
			text-align:center;
			color:#020124;
		}
		h2{
			font-family: 'Rubik', sans-serif;
			text-align:center;
			color:#c2c2ff;
		}
		h3{
			font-family: 'Rubik', sans-serif;
			text-align:center;
			color:#c2c2ff;
		}	
		
		.table{
			display:block;
			overflow-x:auto;
			white-space: nowrap;
			text-align:center;
			width:100%;
			
		}
		
		.card-deck{margin:0;padding:0;}
			
		
		.card-body{
			display:inline-block;
			padding:5px 5px;
			
			text-align:center;
			width:	100%;
			
		}
	
	</style>
</head>

<body>
	<nav class="navbar navbar-light" style="background-color:#030354; font-weight:900; font-family:'Arial Black', 'Arial Bold', Gadget,sans-serif;">
		<!-- <li class="nav-item dropdown">-->
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
		Admin
		</a>
		<div class="dropdown-menu" style="color:#b6b6fa, font-family:'Arial Black', 'Arial Bold';"  aria-labelledby="navbarDropdown">
		<a class="dropdown-item" href="/admin/visualizacion">Consulta base de datos</a>
		<a class="dropdown-item" href="/admin/indicadores">Métricas</a>
		
		</div>
	    <!--</li>-->
		
		<span class="navbar-brand"> <h2>Programa Tenencia Responsable</h2></span>
		<img src="/logo_quilicura-modified.png" width="90" height="90">
	</nav>
	
	{% block body %}
	{% endblock %}
	
</body>
</html>
